# Nhập dữ liệu

In [22]:
import pandas as pd

In [23]:
while True:
    try:
        N = int(input("Nhập số ma trận: "))
        if N < 0:
            print('Số lượng ma trận không hợp lệ')
            continue
        break
    except:
        print('Giá trị nhập không hợp lệ')

D = []
i = 0
while i < N:
    try:
        x, y = tuple(map(int,input(f"Nhập ma trận {i+1}: ").split()))
    except:
        print('Giá trị nhập không hợp lệ, vui lòng thử lại!')
        continue
        
    if x <= 0 or y <= 0:
        print('Hàng hoặc cột phải lớn hơn 0')
        continue
    elif len(D) != 0:
        if x != D[-1][-1]:
            print('Hàng của ma trận không khớp với ma trận trước')
            continue
    
    D.append((x, y))
    i += 1

Nhập số ma trận: 6
Nhập ma trận 1: 30 35 5
Giá trị nhập không hợp lệ, vui lòng thử lại!
Nhập ma trận 1: 30 35
Nhập ma trận 2: 35 15
Nhập ma trận 3: 15 5
Nhập ma trận 4: 5
Giá trị nhập không hợp lệ, vui lòng thử lại!
Nhập ma trận 4: 5 10
Nhập ma trận 5: 10 20
Nhập ma trận 6: 20 25

In [24]:
print('Shape của các ma trận lần lượt là:', ' , '.join(f'{d[0]}x{d[1]}' for d in D))

Shape của các ma trận lần lượt là: 30x35 , 35x15 , 15x5 , 5x10 , 10x20 , 20x25

# Quy hoạch động

In [25]:
def find_matrix_chain_multiplication(N, D):
    M = [[0 for _ in range(N)] for _ in range(N)]
    L = [[f'A{i+1}' if i == j else '' for i in range(N)] for j in range(N)]
    
    for j in range(1, N):
        ii = 0
        jj = j
        while ii < N and jj < N:
            curr_min = float('inf')
            K = 0
            for kk in range(ii, jj):
                x = M[ii][kk] + M[kk+1][jj] + D[ii][0]*D[kk+1][0]*D[jj][1]
                if curr_min > x:
                    curr_min = x
                    K = kk
                    
            M[ii][jj] = curr_min
            
            L[ii][jj] = ('(' if ii != K else '') + L[ii][K] + (')' if ii != K else '') \
                        + ('(' if jj != K+1 else '') + L[K+1][jj] + (')' if jj != K+1 else '')
            ii += 1
            jj += 1
    return pd.DataFrame(M, columns = range(1, N+1), index = range(1, N+1)), \
            pd.DataFrame(L, columns = range(1, N+1), index = range(1, N+1))

In [26]:
df_value, df_label = find_matrix_chain_multiplication(N, D)

# Kết quả

In [27]:
df_value

   1      2     3     4      5      6
1  0  15750  7875  9375  11875  15125
2  0      0  2625  4375   7125  10500
3  0      0     0   750   2500   5375
4  0      0     0     0   1000   3500
5  0      0     0     0      0   5000
6  0      0     0     0      0      0

In [28]:
df_label

    1     2         3             4                 5                     6
1  A1  A1A2  A1(A2A3)  (A1(A2A3))A4  (A1(A2A3))(A4A5)  (A1(A2A3))((A4A5)A6)
2        A2      A2A3      (A2A3)A4      (A2A3)(A4A5)      (A2A3)((A4A5)A6)
3                  A3          A3A4          A3(A4A5)          A3((A4A5)A6)
4                                A4              A4A5              (A4A5)A6
5                                                  A5                  A5A6
6                                                                        A6

In [29]:
print('Số lượng tính toán tối ưu:', df_value.iloc[0, N-1])
print('Cách tính tối ưu:', df_label.iloc[0, N-1])

Số lượng tính toán tối ưu: 15125
Cách tính tối ưu: (A1(A2A3))((A4A5)A6)